version: '3.4'

services:
  catalogdb:
    image: mongo

  basketdb: 
    image: redis/redis-stack:latest

  discountdb:
    image: postgres

  orderdb:
    image: mcr.microsoft.com/mssql/server:2022-latest

  healthcheckdb:
    image: mcr.microsoft.com/mssql/server:2022-latest

  pgadmin:
    image: dpage/pgadmin4

  portainer:
    image: portainer/portainer-ce

  catalog.api:
    image: ${DOCKER_REGISTRY-}catalogapi
    build:
      context: .
      dockerfile: src/Services/Catalog/Catalog.API/Dockerfile

  basket.api:
    image: ${DOCKER_REGISTRY-}basketapi
    build:
      context: .
      dockerfile: src/Services/Basket/Basket.API/Dockerfile

  discount.api:
    image: ${DOCKER_REGISTRY-}discountapi
    build:
      context: .
      dockerfile: src/Services/Discount/Discount.API/Dockerfile

  ordering.api:
    image: ${DOCKER_REGISTRY-}orderingapi
    build:
      context: .
      dockerfile: src/Services/Ordering/Ordering.API/Dockerfile

  healthcheck.app:
    image: ${DOCKER_REGISTRY-}healthcheckapp
    build:
      context: .
      dockerfile: src/Infrastructure/HealthCheck/Dockerfile

volumes:
  mongo_data:
  redis_data:
  portainer_data:
  postgres_data:
  pgadmin_data:
