version: '3.4'

name: "artaeshop"

services:
  catalogdb:
    container_name: catalogdb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  basketdb:
    container_name: basketdb
    restart: always
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - redis_data:/data/db

  discountdb:
    container_name: discountdb
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin1234
      - POSTGRES_DB=DiscountDb
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgressql/data

  orderdb:
    container_name: orderdb
    environment:
      SA_PASSWORD: "pa55w0rd!"
      ACCEPT_EULA: "Y"
    restart: always
    ports:
      - "1433:1433"

  healthcheckdb:
    container_name: healthcheckdb
    environment:
      SA_PASSWORD: "pa55w0rd!"
      ACCEPT_EULA: "Y"
    restart: always
    ports:
      - "13200:1433"


  pgadmin:
    container_name: pgadmin
    environment:
       - PGADMIN_DEFAULT_EMAIL=admin@artaeshop.com
       - PGADMIN_DEFAULT_PASSWORD=admin1234
    restart: always
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/root/.pgadmin 

  portainer:
    container_name: portainer
    restart: always
    ports:
      - "8080:8000"
      - "9090:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
  
  catalog.api:
    container_name: catalog.api
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - "DatabaseSettings__ConnectionString=mongodb://catalogdb:27017"
        - "DatabaseSettings__DatabaseName=ProductsDb"
        - "DatabaseSettings__CollectionName=Products"
        - "DatabaseSettings__BrandsCollection=Brands"
        - "DatabaseSettings__TypesCollection=Types"
    depends_on:
        - catalogdb
    ports:
        - "9000:8080"
  
  basket.api:
    container_name: basket.api
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - "CacheSettings__ConnectionString=basketdb:6379"
        - "GrpcSettings__DiscountUrl=http://discount.api:8080"
    depends_on:
        - basketdb
    ports:
        - "9001:8080"

  discount.api:
    container_name: discount.api
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - "ConnectionStrings__DefaultConnection=Server=discountdb;Port=5432;Database=DiscountDb;User Id=admin;Password=admin1234;"
    depends_on:
        - discountdb
    ports:
        - "9002:8080"

  ordering.api:
    container_name: ordering.api
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - "ConnectionStrings__OrderingConnectoinString=Server=orderdb;Database=OrderDb;User Id=sa;Password=pa55w0rd!;Trusted_Connection=True;TrustServerCertificate=True;Integrated Security=False"
    depends_on:
        - orderdb
    ports:
      - "9003:8080"
  
  healthcheck.app:
    container_name: healthcheck.app
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - "ConnectionStrings__HealthCheckConnectoinString=Server=healthcheckdb;Database=HealthChecksDb;User Id=sa;Password=pa55w0rd!;Trusted_Connection=True;TrustServerCertificate=True;Integrated Security=False"
        - "HealthCheksSetting__HealthCheckUrl=http://healthcheck.app:8080/healthcheck"
        - "HealthCheksSetting__OrderDb=Server=orderdb;Database=OrderDb;User Id=sa;Password=pa55w0rd!;Trusted_Connection=True;TrustServerCertificate=True;Integrated Security=False"
        - "HealthCheksSetting__CatalogDb=mongodb://catalogdb:27017"
        - "HealthCheksSetting__BasketDb=basketdb:6379"
        - "HealthCheksSetting__DiscountDb=Server=discountdb;Port=5432;Database=DiscountDb;User Id=admin;Password=admin1234;"
    depends_on:
        - healthcheckdb
    ports:
      - "8900:8080"  